@charset "UTF-8";

:root {
  /* ============ Colores de marca */
  --brandColor-01: #0B2A4A;
  --brandColor-02: #BF0B34;
  --brandColor-03: #DD8555;

  /* ============ Escala de grises */
  --grayScale-050: #D9D8D6;
  --grayScale-100: #D9D8D6;
  --grayScale-200: #D9D8D6;
  --grayScale-300: #D9D8D6;
  --grayScale-400: #D9D8D6;
  --grayScale-800: #0B2A4A;

  /* ============ Estilos generales */
  --bnrIntroHeight: 200px;
  --borderRadius: 5px;
  --blur: 5px;
  --textShadow: 3px 3px 5px rgba(0, 0, 0, 1);
  --boxShadow-01: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 32px;
  --boxShadow-02: rgba(17, 17, 26, 0.3) 0px 4px 16px, rgba(17, 17, 26, 0.3) 0px 8px 32px;


  /*  Colores por nivel */
  --prg_bachsep:: #0B2A4A;

}


